<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context.
            Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some
            social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="../assets/favicon-32x32.png" title="WorkoutChamp" class="me-2">

        <strong>WorkoutChamp</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>
  <section class="container">
    <div class="row mb-5 mt-5"><div class="col"></div></div>
    <div class="row mb-5 mt-5"><div class="col"></div></div>
    <div class="row mb-5 mt-5 text-center">
      <div class="col">
        <h1>{{ nrOfWorkoutsCompleted }} träningspass</h1>
      </div>
    </div>
    <div class="row mb-5 mt-5 text-center">
      <div class="col">
        <h1>{{ priceOfEachVisit | number: '1.0-2' }}kr per gång</h1>
      </div>
    </div>
    <div class="row mb-5 mt-5"><div class="col"></div></div>
    <div class="row mb-5 mt-5"><div class="col"></div></div>
    <div class="row action-buttons text-center">
      <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg"  (click)="decrease()"  width="65" height="65" fill="currentColor" class="bi bi-dash red" viewBox="0 0 16 16">
          <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
        </svg>
      </div>
      <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg"  (click)="increase()" width="65" height="65" fill="currentColor" class="bi bi-plus-lg green" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </div>
    </div>
  </section>
</main>